@charset "UTF-8";

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: bounce;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}