@charset "UTF-8";

article {
    padding: 2em 10%;
    margin-inline: auto;
    max-width: 1440px;
}

.corpo-artigo {
    margin-block: 3em;
    text-align: justify;
}

.corpo-artigo__imagem {
    border: 1px solid #E5E5E5;
    width: 100%;
}

.limpar-float {
    clear: both;
}

.sublinha {
    height: 1px;
    border: none;
    background-color: #E5E5E5;
    width: 13em;
}

/* Breakpoint Tablet */
@media screen and (min-width: 690px) {
    .corpo-artigo {
        margin: 3em 2.5em;
    }

    .corpo-artigo__imagem {
        display: block;
        float: right;
        width: 30vw;
        margin: 0.3em 0em 0.5em 1.3em;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1100px) {
    article {
        padding: 2em 7%;
    }

    .corpo-artigo {
        margin: 3em 5em;
    }

    .corpo-artigo__imagem {
        width: 17vw;
    }
}