@charset "UTF-8";

.header-inicial {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-block: 3.5em;
    text-align: center;
}

.header-inicial__titulo {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0;
}

.header-inicial__subtitulo {
    color: #9f9f9f;
    font-size: 0.9em;
    margin: auto;
    width: 70%;
}

/* Breakpoint Tablet */
@media screen and (min-width: 690px) {
    .header-inicial__titulo {
        font-size: 3.5em;
    }

    .header-inicial__subtitulo {
        width: 50%;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1100px) {
    .header-inicial__titulo {
        font-size: 4em;
    }

    .header-inicial__subtitulo {
        width: 30%;
    }
}