@charset "UTF-8";

.botao {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.2em;
    text-decoration: none;
    margin: 0;
    font-size: 1.3em;
}

.botao-voltar {
    font-size: 1.17em;
}

.botao--redondo {
    color: #C7C7C7;
    align-items: center;
    justify-content: center;
    border: 2px solid #C7C7C7;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.botao i {
    font-size: 1em;
}