@charset "UTF-8";
.botao {
    display: flex;
    gap: 1em;
    padding: 0.2em;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.2em;
    color: black;
}

.botao--redondo{
    color: #C7C7C7;
    justify-content: center;
    align-items: center;
    border: 0.2em solid #C7C7C7;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
}
.botao i{
    font-size: 1em;
}