@charset "UTF-8";

.cartao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.cartao__imagem {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.cartao__texto {
    padding: 0.5em;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
}

.cartao__texto p {
    margin-block: 0.5em;
    line-height: 1em;
}
