@charset "UTF-8";

@import url("botao.css");

footer {
    padding: 2em 10% 0.3em;
    border-bottom: 10px solid #232323;
}

.rodape-voltar {
    margin-bottom: 1.5em;
}

.rodape-conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  text-align: center;
}

.menu-social ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-social a.botao--instagram:hover {
    color: #C13584;
}

.menu-social a.botao--twitter:hover {
    color: #00ACEE;
}

.menu-social a.botao--youtube:hover {
    color: #c4302b;
}

.info a.botao--info:hover {
    color: #000000;
}

.contato a.email:hover {
    text-decoration: underline;
}

.contato hr {
    height: 1px;
    border: none;
    background-color: #E5E5E5;
    width: 10em;
}

.creditos {
    text-align: center;
}

.copyright, .creditos a {
    font-size: 0.75em;
    color: #9f9f9f;
}

/* Breakpoint Tablet */
@media screen and (min-width: 690px) {
    footer {
        padding-inline: 10%;
    }

    .rodape-conteudo {
        padding-block: 2em;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }

    .rodape-conteudo > * {
        flex-basis: calc(100% / 3);
    }

    .menu-social ul {
        justify-content: flex-start;
    }

    .info {
        display: flex;
        justify-content: flex-end;
    }
}