@charset "UTF-8";

.sugestao {
    padding: 1em 0.7em 3em;
    margin-inline: -1em;
    background-color: #F8F8F4;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.sugestao-corpo {
    display: flex;
    flex-direction: column;
}

.sugestao__icone {
    margin: 1.3em 0.5em 0;
    width: 70px;
    position: absolute;
}

.sugestao__texto {
    margin-block: 2em 2em;
    margin-inline: 1em;
    padding: 1em 1.5em;
    background-color: #FFFFFF;
    text-align: justify;
}

.sugestao-corpo__imagem {
    margin-inline: auto;
    width: 70%;
    object-fit: cover;
}

/* Breakpoint Tablet */
@media screen and (min-width: 690px) {
    .sugestao {
        padding-block: 3em;
        padding-inline: 4em 2em;
        margin-block: 5em 0;
        margin-inline: 2%;
        flex-direction: row;
    }

    .sugestao-corpo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sugestao__icone {
        padding: 1em;
        margin: 0;
        width: 130px;
        height: 130px;
        left: -30px;
        top: 35px;
    }

    .sugestao__texto {
        padding-inline: 2.5em;
        margin-block: 0;
        width: 100%;
    }

    .sugestao-corpo__imagem {
        margin: 0 0 0 -1.5em;
        width: 180px;
        height: 300px;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1100px) {
    .sugestao {
        margin-inline: 15%;
    }

    .sugestao__icone {
        left: -40px;
    }

    .sugestao__texto {
        padding-inline: 3em;
    }

    .sugestao-corpo__imagem {
        margin: 0 0 0 -2em;
        width: 25%;
        height: 75%;
    }
}