@charset "UTF-8";

.videoplayer {
    padding-block: 2em;
    display: flex;
    margin-inline: auto;
    width: 80%;
    height: 100%;
}

.videoplayer iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

@media screen and (min-width: 690px) {
    .videoplayer {
        width: 60%;
    }
}

@media screen and (min-width: 1100px) {
    .videoplayer {
        width: 50%;
    }
}